.ArticleDetail-container {
  margin: 20px;
}

.modal-img {
  width: 75vw;
  max-width: 600px;
}

.ArticleDetail-btn {
  cursor: pointer;
  background: none;
  border: 2px solid black;
  padding: 5px 8px;
  font-size: large;
}

.ArticleDetail-btn:hover {
  background: rgb(145, 145, 145);
}